<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body style="text-align: center">
    <h1>Laxmi's URL Shortener</h1>
    <form action="/" method="POST">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required><br><br>
        <button type="submit">Shorten URL</button>
    </form>
    {% if short_url %}
    <p>Shortened URL: <br><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
    {% endif %}
</body>
</html>
